
# Ignore Python cache
**/__pycache__/
*.pyc

# Ignore content in folders.
dataset/*
outputs/

# Ignore files
*.mp4
*.avi
*.log


# Ignore network weights
*.weights

# Not ignore specific files.
!dataset/create_set.py
!dataset/MOT_structure.py
!dataset/download_data.sh