
# Ignore Python cache
**/__pycache__/
*.pyc

# Ignore content in folders.
dataset/*
outputs/

# Ignore network weights
*.weights

# Not ignore specific files.
!dataset/MOT_structure.py
!dataset/download_data.sh